#contents li .control:before {content: "\229f"}
#contents li.folded .control:before {content: "\229e"}
#contents li.folded ul {display:none;}
.control {font-weight:normal; color:blue; display:inline-block; width:1em; margin-left:-1em; font-size:1.2em; cursor:pointer;}
.control:hover {font-weight:bold;;}
ul {list-style-type:none;}
.mw_wrapper {
    background-color:white;
    max-width:48em;
    margin:auto;
}
#contents {
    padding: 1em 4em 2em;
}
body {background-color: #404040;}
h1 {font-size:1.3em; text-align:center; padding:1em;}