div.effectivity_toggle {margin: 2px; padding: 0 0.5em 0.5em; text-align:right;}
div.effectivity_toggle.hiding {text-align: left; border: 3px solid green; padding-top: 0.5em; background-color:#D0D0D0;}
div.effectivity_toggle a.show {display:none;}
div.effectivity_toggle.hiding a.show {display:inline;}
div.effectivity_toggle.hiding a.hide {display:none;}
div.effectivity.not_effective {margin:0 -0.5em; padding:0 0.5em; border: 3px solid green;}
div.effectivity.hidden {display:none;}

#page_title {text-align:center; font-weight:bold; font-size:1.2em;}
.mainpage {height:auto;}
#content {
    max-width:50em;
    margin:auto;
    padding:0.5em 1.5em;
    background-color:white;
    overflow-x:auto;
    line-height: 1.5;
}
p {text-indent:1.5em;}
div p:first-child {text-indent:0;}
body {background-color: #404040;}

.vsttocentry-psl-withtab.folded + .vsttocsection {display:none}
.vsttocentry-psl-withtab.folded:hover + .vsttocsection {display:none}
.vsttocentry-psl-withtab .control {font-weight:normal; color:blue; display:inline-block; width:1em; margin-left:-1em; font-size:1.2em;}
.vsttocentry-psl-withtab .control:hover {font-weight:bold;;}
.vsttocentry-psl-withtab .control:before {content: "\229f"}
.vsttocentry-psl-withtab.folded .control:before {content: "\229e"}
.vsttoc {margin: 0 3em;}