body {background-color: #404040; line-height: 1.5; font-family: arial, helvetica, sans-serif;}
#pageheader {padding-top: 0.25em;}
#page_title, body.index h1, body.contents h1 {text-align:center; font-weight:bold;}
#long_title {text-align:center; min-height:4em;}
#long_title a {white-space: nowrap;}
#long_title span {font-weight:bold;}
.mainpage {height:auto;}

body.airbus #content, .mw_wrapper {
    max-width:45em;
    margin:auto;
    padding:0.5em 1.5em;
    background-color:white;
    height: auto;
    /* overflow-x:auto; */

}

body.airbus #content.wide, .mw_wrapper.wide{
    max-width:none;
    width:auto;
    overflow: visible;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

body.ezy #content {
    /* overflow-x:auto; */
    display: none;
}

body.ezy .mw_wrapper #content {
    display:block;
}

body.mainpage #content {
    display:none;
}

body.mainpage #content.show {
    display: block;
}

body.airbus p {
    padding-top:0.2em;
    padding-bottom:0.2em;
}

.clink {float:right;}

div.effectivity_toggle {margin: 2px; padding: 0 0.5em 0.15em; text-align:right; font-size:0.8em;}
div.effectivity_toggle.hiding {text-align: left; border: 2px outset green; padding-top: 0.15em; background-color:#F0FFF0;display:inline-block;}
div.effectivity_toggle a.show {display:none;}
div.effectivity_toggle.hiding a.show {display:inline;  color:green;}
div.effectivity_toggle.hiding a.hide {display:none;}
div.effectivity.not_effective {margin:0 -0.5em; padding:0 0.5em; border: 3px solid green;}
div.effectivity.hidden {display:none;}
div.nodu {border-top: solid black 2px;}

.vstsideheadindicator {display:none;}
.vstsideheadindicator.show {display:inline; background-color:#FFFF00; border:2px black solid;}

body.contents #toc li .control:before {content: "\25bc"}
body.contents #toc li.folded .control:before {content: "\25ba"}
body.contents #toc li.folded ul {display:none;}
body.contents .control {display:inline-block; width:0.5em; color:#A0A0B0; margin:0 0.7em 0 -1.2em; cursor:pointer; }
body.contents .control:hover {color:blue; margin-right: 0.75em;}
body.contents ul {list-style-type:none;}
body.contents #toc {
    padding: 1em 4em 2em;
}
body.contents #toc li a{text-decoration:none;}
body.contents #toc li a:hover{text-decoration:underline;}

body.index .mw_wrapper div {border: black 2px solid; padding:1em; margin: 1em; border-radius: 1em; background-color: white;}
body.index .mw_wrapper {background-color: #404040;}
body.index .mw_wrapper table {width:80%; margin:auto; text-align: center;}
body.index #ntc td {width:25%;}
body.index #search_link {text-align:right; margin-top:0.5em;}

body.contents #msn {text-align:right;}
body.contents #msn input {width:4em; color:green; font-weight: bold;}

body.contents #loading {width:10em; font-size:1.5em; margin:2em auto; padding: 1em; border:1px solid black; text-align:center; font-weight:bold;}